
%form
  = label :user ,:email, "Email"
  = text_field :user ,:email
  = label :user, :password, "Password"
  = password_field :user, :password

  = label :user, :password, "Password confirm"
  = password_field :user, :confirm_password
  %input{:type => "submit", :value => "Sign in"}
