-satus = ""
-if @user.admin?
  -status = "admin"
-else
  -status = "user"

#profile
  %h2 Profile
  %p
    %h5 Email: #{@user.email}
    %h5 Status: #{status}

  %p
    -if can? :update, @user
      = link_to("edit profile", edit_user_path(@user)) 
      ||

    -if can? :manage, :all
      = link_to("delete user", user_path(@user), :method => :delete, :confirm => "Do you realy want to remove this user?")
    
#Documents

  %h2 Documents
  =link_to("upload document", new_user_document_path(@user))


  %h5 Users documents

  -@user.documents.each do |doc|
    %ol
    -if can? :read, doc
      = link_to(doc.title, [@user, doc], :method => :show)
      ||
          
    -if can? :edit, doc
      = link_to("edit", edit_user_document_path(@user, doc))
      ||

    -if current_user.admin?
      =link_to("delete", [@user, doc], :method => :delete)

  %h5 Other documents
  = link_to("All documents", user_documents_path(current_user))

