!!!5
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title= content_for?(:title) ? yield(:title) : "Document Storage"
    %meta{:content => content_for?(:description) ? yield(:description) : "Document Storage", :name => "description"}
    = stylesheet_link_tag :application, :media => "all"
    = javascript_include_tag :application
    = csrf_meta_tags
    = yield(:head)
  %body
    #container.container
      %header

        #user_nav
          -if signed_in?
            =link_to("Back to index", root_path)
            ||--||
            =link_to "My profile", user_path(current_user)
            ||
            =link_to("Upload document", new_user_document_path(current_user))
            || -- ||
            = link_to('Sign out', destroy_user_session_path, :method => "delete")
            || -- || signed in as:
            =current_user.email
            
        #errors
          -if flash[:error]
            %p 
              =flash[:error]
          -if flash[:notice]
            %p
              =flash[:notice]

      #main{:role => "main"}
        %ol
          = yield
      %footer 
